/* Загальні стилі для сторінки */
body {
    font-family: Arial, sans-serif; /* Шрифт */
    margin: 0; /* Відсутність зовнішніх відступів */
    padding: 0; /* Відсутність внутрішніх відступів */
    background-color: #f0f0f0; /* Колір фону */
    display: flex; /* Використовуємо Flexbox */
    justify-content: center; /* Вирівнюємо контент по центру по горизонталі */
    align-items: center; /* Вирівнюємо контент по центру по вертикалі */
    height: 100vh; /* Задаємо висоту на весь екран */
    margin: 0; /* Відсутність зовнішніх відступів */
    padding: 0; /* Відсутність внутрішніх відступів */
}

/* Стилі для вводу даних */
input[type="number"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
    width: 100%; /* Ширина вводу */
    padding: 10px; /* Відступи */
    margin-bottom: 0px; /* Відступи знизу */
    border: 1px solid #ccc; /* Границя */
    border-radius: 0px; /* Закруглені кути */
}

/* Стилі для кнопок */
button {
    padding: 10px 20px; /* Відступи */
    border: none; /* Відсутність границі */
    border-radius: 15px; /* Закруглені кути */
    background-color: #3783ed; /* Колір фону */
    color: #fff; /* Колір тексту */
    cursor: pointer; /* Зміна курсору */
}

/* Стилі для кнопок при наведенні */
button:hover {
    background-color: #523dad; /* Колір фону при наведенні */
}

/* Стилі для підвалу */
footer {
    text-align: right; /* Вирівнювання тексту по центру */
    padding: 10px; /* Відступи */
    background-color: #ffffff; /* Колір фону */
    color: #000000; /* Колір тексту */
    position: fixed; /* Фіксоване розташування */
    bottom: 0; /* Внизу */
    left: 0; /* Зліва */
    width: 100%; /* Ширина 100% */
}

footer p {
    margin: 0; /* Відсутність зовнішніх відступів */
}

/* Позиціонує текст у верхній лівій частині */
.left-section {
    text-align: center; /* Вирівнювання тексту по центру */
    margin: 0 auto; /* Автоматичні бокові відступи */
    max-width: 400px; /* Максимальна ширина блоку */
    flex: 1; /* Розширюємо блок на всю доступну ширину */
    padding: 20px; /* Відступи */
    width: 50%; /* Займає 50% ширини екрану */
}

.right-section {
    flex: 1; /* Розширюємо блок на всю доступну ширину */
    padding: 20px; /* Відступи */
    float: right; /* Плаваюче розташування вправо */
    margin-right: 20px; /* Відступ від правого краю */
    margin-top: 20px; /* Відступ зверху */
    max-width: 400px; /* Максимальна ширина блоку */
    width: 50%; /* Займає 50% ширини екрану */
    padding: 20px; /* Додаткові відступи */
}
/* Стилі для посилань */
.left-section a, .right-section a {
    color: #3783ed; /* Колір тексту посилань */
    text-decoration: none; /* Відсутність підкреслення */
}
#login-form {
    display: flex; /* Використовуємо flexbox */
    max-width: 800px; /* Максимальна ширина блоку */
    background-color: #f9f9f9; /* Колір фону */
    border-radius: 5px; /* Закруглені кути */
    padding: 20px; /* Додаткові відступи */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь */
}

#registration-form {
    display: flex; /* Використовуємо flexbox */
    max-width: 800px; /* Максимальна ширина блоку */
    background-color: #f9f9f9; /* Колір фону */
    border-radius: 5px; /* Закруглені кути */
    padding: 20px; /* Додаткові відступи */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь */
}

form {
    display: flex; /* Використовуємо Flexbox */
    flex-direction: column; /* Встановлюємо стовпчасту орієнтацію для елементів */
}


input {
    padding: 10px; /* Додаткові відступи */
    margin-bottom: 10px; /* Відступи знизу */
    border: 1px solid #ccc; /* Границя */
    border-radius: 3px; /* Закруглені кути */
}

*{
    box-sizing: border-box;
}

/* Style the input container */
.data {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

/* Style the form icons */
.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

  
  /* Style the input fields */
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}
  
.input-field:focus {
    border: 2px solid dodgerblue;
}


.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
.btn:hover {
    opacity: 1;
}
